.pcs-title {
  color: var(--color-green);
}

.pcs-note {
  margin-top: -6px;
  margin-bottom: 12px;
  color: var(--color-text);

  &__em {
    font-size: var(--fs-md);
    font-weight: 500;
  }
}

.pcs-table {
  margin-top: 10px;
}
